<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/2.png">
    <title>Chito Public Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="app-container">
        <div class="app-right-big">
            <div class="app-header-main">
                <div class="left-header-title">
                    <h6>
                        <span>Chito Public Chat</span>
                    </h6>
                </div>
            </div>
            <div class="app-container-inside">
                <div class="app-inside-left">
                    <div class="chat-area">

                        <div class="chat-msg chatbox">
                            <div class="message_box">
                            <div class="chat-smg-img">
                                <div class="img bg-color">
                                    <span class="img-color">C</span>
                                </div>
                            </div>
                            <div class="chat-msg-content">
                                <div class="chat-msg-name">
                                    <div class="msg-name user">
                                        <h6 class="user">
                                            ChitoBot
                                        </h6>
                                    </div>  
                                 </div>
                                 <div class="chat-msg-text chat_message">
                                    <p>
                                        Welcome to Chito😁
                                    </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>   
                        <div class="chat-area-footer">
                            <div class="footer-chat-left">
                                <div class="add"></div>
                                <div class="chat-input inp_btn">
                                    <input type="text" placeholder="Enter Your Message..." onkeypress="
                                    enterKeyPressed(event)">
                                </div>
                            </div>
                            <div class="footer-chat-right">
                               <button class="send">Send</button>
                            </div>
                        </div>
                    </div>
                </div>  
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js" integrity="sha512-mHO4BJ0ELk7Pb1AzhTi3zvUeRgq3RXVOu9tTRfnA6qOxGK4pG2u57DJYolI4KrEnnLTcH9/J5wNOozRTDaybXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
        <script src="js/script.js"></script>
</body>
</html>